{% extends "base.html" %}


{% block content %}
<h2>EMP data list</h2>  
<style>
    .btn-text-right{
        text-align: right;
        }
</style>
<div class="btn-text-right">
<a href="{% url 'empform' %}" >
    <button style='font-size:20px;color:rgba(111, 0, 255, 0.822)'>Add New User<i class='fas fa-plus'></i></button>
</div>
</a>

{%csrf_token %}
    <table class="table table-borderless">
        <thead calss = "border-bottom font-weight-bold" >
            <tr>
                <td>ID</td>
                <td>Full Name</td>
                <td>Mobile</td>
                <td>position</td>
                <td>EMP Code</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {% for emp in cont %}
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.fullname}}</td>
                <td>{{emp.mobile}}</td>
                <td>{{emp.position}}</td>
                <td>{{emp.empcode}}</td>
                <td>
                    <!--a href="" class="btn text-secondary px-0">
                                        <i class=" far fa-edit fa-lg"></i>
                                    </a-->
                    <a href="{% url 'empupdate' emp.id %}">
                        <i class='fas fa-edit' style='font-size:30px;color:rgba(21, 255, 0, 0.822)'></i> </a>
                
                <td>
                    <form action="{% url 'empdelete' emp.id %}" method="post" class="d-inline">
                        {%csrf_token%}
                        
                        <button ><i class='fas fa-trash' style='font-size:20px'></i></button>

                    </form>
                </td>    
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock content %}